# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
build/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Local environment configurations
.local/

# Coverage directory used by tools like Coveralls
coverage/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# dotenv environment variable files
.env.*
!default.env

# Yarn integrity file
.yarn-integrity

# Storybook build outputs
out/

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# SvelteKit build output
.svelte-kit/
